@use "global.scss" as *;

$breakpointMedium: 1199px;

@mixin maxWidth($breakpoint) {
  @if ($breakpoint == "medium") {
    @media (max-width: $breakpointMedium) {
      @content;
    }
  }
}

.topLevelContainer {
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1);
  padding: 0 20px 0 10px;
  position: sticky;
  top: 0;
  background-color: $WHITE;
  z-index: 200;
}
.headerContainer {
  @include RP(
    (
      "height": 70,
    )
  );
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hamburgerIcon {
  height: 30px;
  width: 30px;
  cursor: pointer;
  display: none;

  path {
    stroke: $PRIMARY;
  }
}

.notifyContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  @include RP(
    (
      "height": 40,
      "width": 40,
    )
  );
  border: 1px solid $WHITE;
  border-radius: 100%;

  svg {
    @include RP(
      (
        "height": 24,
        "width": 24,
      )
    );
    path {
      stroke: $WHITE;
    }
  }
  .dot {
    position: absolute;
    top: -2px;
    right: 0;
    height: 10px;
    width: 10px;
    background-color: var(--PRIMARY);
    border-radius: 100%;
  }
  &:hover {
    cursor: pointer;
  }
}

@media screen and (min-width: 576px) {
  .customContainer {
    max-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .hamburgerIcon {
    display: flex;
  }
}
