@use "global.scss" as *;

.chatList {
  border-right: 1px solid $BORDER;
  overflow-y: hidden;
  @include RP(
    (
      "border-top-left-radius": 16,
      "border-bottom-left-radius": 16,
    )
  );

  @media screen and (max-width: 768px) {
    @include RP(
      (
        "border-radius": 16,
      ),
      1
    );
  }

  .heading {
    position: sticky;
    top: 0;
    @include RP(
      (
        "padding-top": 24,
        "padding-left": 16,
        "padding-right": 16,
      ),
      1
    );
    span {
      color: $BLUE;
    }
    background-color: $WHITE;
  }

  .chatListWrapper {
    overflow-y: auto;
    height: 100%;
    &::-webkit-scrollbar-track {
      border: 7px solid rgba(0, 0, 0, 0);
      background-clip: padding-box;
      border-radius: 50px;
      background-color: #f2f2f2;
    }

    &::-webkit-scrollbar {
      width: 20px;
    }

    &::-webkit-scrollbar-thumb {
      border: 7px solid rgba(0, 0, 0, 0);
      background-clip: padding-box;
      border-radius: 50px;
      background-color: $PRIMARY;
    }
  }

  .searchContainer {
    @include RP(
      (
        "margin-top": 15,
        "margin-bottom": 15,
      )
    );
  }

  .search_filter_btns {
    display: flex;
    align-items: center;
    gap: 10px;
    @include RP(
      (
        "margin-top": 20,
        "margin-bottom": 20,
      )
    );
    button {
      color: #18212b;
      border: 0.5px solid $LIGHT_GRAY2 !important;
      border-radius: 50px;
      transition: all 0.2s ease-in-out;
      font-family: var(--font-urbanist-thin);
      padding: 0 12px;
      @include RP(
        (
          "height": 32,
          "font-size": 12,
          "padding-left": 20,
          "padding-right": 20,
        )
      );
      &.active {
        background-color: $BORDER !important;
        border-color: $BORDER !important;
        color: $SECONDARY;
        font-family: var(--font-urbanist-md);
      }
    }
  }

  .chatItem {
    border-bottom: 1px solid $BORDER;
    cursor: pointer;
    @include RP(
      (
        "padding-top": 14,
        "padding-bottom": 14,
        "padding-left": 14,
        "padding-right": 14,
      )
    );
    &.activeChat {
      background-color: #f2f7fb !important;
      border-color: #f2f7fb !important;
    }
    img {
      border-radius: 100%;
      @include RP(
        (
          "width": 42,
          "height": 42,
        )
      );
    }
    p {
      color: #303030;
      font-family: var(--font-nexa-bold);
      font-weight: 700;
      @include RP(
        (
          "font-size": 14,
        )
      );
    }
    span {
      color: #5f5b5b;
      font-weight: 500;
      @include RP(
        (
          "font-size": 12,
        )
      );
    }
    .rightContent {
      .pendingMessages {
        background-color: $SECONDARY;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include RP(
          (
            "width": 24,
            "height": 24,
          )
        );
        span {
          color: $WHITE !important;
          font-weight: 600;
          @include RP(
            (
              "font-size": 12,
            )
          );
        }
      }
    }
  }
}
