@use "global.scss" as *;

.optionsContainer {
  display: block;
  position: absolute;
  top: 14px;
  min-width: 120px;
  width: fit-content;
  @include RP(
    (
      "margin-top": 35,
    )
  );
  background-color: $WHITE;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 99;

  &.open {
    display: block;
  }
}

.labelStyle {
  color: $DARK;
  @include RP(
    (
      "font-size": 15,
    )
  );
}

.iconStyle {
  height: 16px;
  width: 16px;
}

.optionContainer {
  border-bottom: 1px solid #ffffff0a;
  &:hover,
  &:hover > .labelStyle,
  &:hover > .iconStyle > path {
    color: $PRIMARY;
  }
}
.optionContainer {
  padding: 10px;
  cursor: pointer;
}

// .activeItem {
//   background-color: #e0e0e0;
// }

.iconStyle {
  margin-right: 8px;
}
