@use "global.scss" as *;

.eventWrapper {
  background-color: $LIGHT_BLUE;
  min-height: 100vh;
  @include RP(
    (
      "padding-bottom": 50,
    )
  );
}

.content {
  .contentHeader {
    @include RP(
      (
        "padding-bottom": 30,
      )
    );
    h4 {
      color: $PRIMARY;
    }
  }
}
