@use "global.scss" as *;

.contentContainer {
  width: 95%;
  height: auto;
  margin: auto;
  background-color: $WHITE;
  border-radius: 24px;
  position: relative;
  .modalContent {
    @include MRP(
      (
        "padding-top": 40,
        "padding-bottom": 40,
        "padding-left": 48,
        "padding-right": 48,
      )
    );
    @media screen and (max-width: 425px) {
      @include MRP(
        (
          "padding-top": 20,
          "padding-bottom": 20,
          "padding-left": 28,
          "padding-right": 28,
        )
      );
    }
  }
  .modalFooter {
    background-color: #f8f8f8;
    border: 1px solid $BORDER;
    @include RP(
      (
        "height": 86,
        "border-bottom-right-radius": 24,
        "border-bottom-left-radius": 24,
        "padding-left": 24,
        "padding-right": 24,
      )
    );
  }
}

.sm {
  max-width: 450px !important;
}

.md {
  max-width: 768px !important;
}

.lg {
  max-width: 1024px !important;
}

.xl {
  max-width: 85% !important;
}
.xxl {
  max-width: 95% !important;
}
