@use "global.scss" as *;

.inputLabel {
  font-weight: 500;
  @include RP(
    (
      "font-size": 14,
    )
  );
  color: $DARK;
}

.asterik {
  color: $BLUE !important;
}

.readonly {
  background: #f4f4f4;
}

.inputContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid $BORDER;
  background-color: $GRAY2;
  border-radius: 50px !important;
  @include RP(
    (
      "height": 50,
      "padding-left": 15,
      "padding-right": 15,
    )
  );
  svg circle {
    stroke: #b2aeae;
  }
  svg path {
    stroke: #b2aeae;
  }
  .iconStyleEye {
    path {
      stroke: transparent !important;
    }
  }
}

.inputStyle {
  width: 100%;
  height: 100%;
  border: 0px;
  border-radius: 50px;
  outline: 0;
  @include RP(
    (
      "font-size": 14,
    ),
    1
  );
  background: $WHITE !important;
  &:focus {
    background-color: $WHITE !important;
  }
}

.inputStyle::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  @include RP(
    (
      "font-size": 14,
    ),
    1
  );
  color: $LIGHT_GRAY2 !important;
  opacity: 1;
  /* Firefox */
}

.inputStyle:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  @include RP(
    (
      "font-size": 14,
    ),
    1
  );
  color: $LIGHT_GRAY2 !important;
}

.inputStyle::-ms-input-placeholder {
  /* Microsoft Edge */
  @include RP(
    (
      "font-size": 14,
    ),
    1
  );
  color: $LIGHT_GRAY2 !important;
}

.error {
  width: fit-content;
  color: #ea5b5b;
  font-size: 11px;
  text-align: left;
  z-index: 1;
  margin-left: 5px;
}

.iconStyle {
  @include RP(
    (
      "height": 24,
      "width": 24,
    )
  );
}

.dateInputToggle {
  display: inline-block;
  visibility: hidden;
  position: relative;
  @include RP(
    (
      "height": 0,
      "width": 0,
    )
  );
}
.dateInputToggleButton {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.dateInputStyle {
  background-color: #f8f8f9;
  border: 0px;
  outline: 0;
  font-size: 14px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  box-sizing: border-box;
}
.dateInputStyle::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.dateInputTextStyle {
  border-left: 1px solid rgba(184, 181, 195, 0.2);
  height: fit-content;
  // margin-left: 2px;
  // padding-left: 5px;
}
