@use "global.scss" as *;

.header {
  border: 1px solid $BORDER;
  background-color: #f8f8f8;
  @include RP(
    (
      "border-top-left-radius": 24,
      "border-top-right-radius": 24,
      "height": 60,
    ),
    1
  );
  .title {
    font-weight: 600;
    color: #303030;
    @include RP(
      (
        "font-size": 16,
      )
    );
  }

  label {
    @include MRP(
      (
        "font-size": 18,
        "line-height": 21,
      )
    );
  }

  svg {
    path {
      stroke: $BLUE;
    }
    @include MRP(
      (
        "height": 24,
        "width": 24,
      )
    );

    &:hover {
      cursor: pointer;
    }
  }

  .crossContainer {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    right: 10px;
    top: 10px;
    border: 1.5px solid $BORDER;
    cursor: pointer;
    @include MRP(
      (
        "height": 30,
        "width": 30,
      )
    );
    svg {
      @include MRP(
        (
          "height": 15,
          "width": 15,
        )
      );
      path {
        fill: $PRIMARY;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }

  .backArrowContainer {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 10px;
    top: 10px;
    cursor: pointer;
    @include MRP(
      (
        "height": 30,
        "width": 30,
      )
    );
    svg {
      @include MRP(
        (
          "height": 15,
          "width": 15,
        )
      );
      path {
        stroke: #303030 !important;
        fill: #303030 !important;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}
