@use "global.scss" as *;

.cardWrapper {
  background-color: $WHITE;
  @include RP(
    (
      "padding-left": 16,
      "padding-right": 16,
      "padding-top": 16,
      "padding-bottom": 16,
      "border-radius": 16,
    )
  );
  .cardContainer {
    background-color: $WHITE;
    .imgContainer {
      position: relative;
      width: 100%;
      @include RP(
        (
          "height": 210,
        )
      );
      @media screen and (max-width: 640px) {
        height: auto !important;
      }
      img {
        width: 100%;
        height: 100%;
        border-radius: 8px;
        // @include RP(
        //   (
        //     "border-radius": 16,
        //   )
        // );
      }
      .iconContainer {
        background-color: #ffffff29;
        backdrop-filter: blur(20px);
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        @include RP(
          (
            "width": 36,
            "height": 36,
          )
        );
        position: absolute;
        bottom: 10px;
        left: 10px;
        svg {
          @include RP(
            (
              "width": 20,
              "height": 20,
            )
          );
        }
      }
    }
    .date {
      @include RP(
        (
          "margin-top": 14,
          "margin-bottom": 10,
        )
      );
      svg {
        @include RP(
          (
            "width": 20,
          )
        );
      }
      span {
        color: $PRIMARY;
        font-weight: 500;
        @include RP(
          (
            "font-size": 14,
          )
        );
      }
    }

    .title {
      color: $DARK2;
      font-weight: 600;
      @include RP(
        (
          "font-size": 16,
          "margin-bottom": 10,
        )
      );
    }
    .desc {
      font-weight: 500;
      @include RP(
        (
          "font-size": 14,
        )
      );
    }
    .buttonContainer {
      @include RP(
        (
          "margin-top": 15,
        )
      );
      button {
        &:first-child {
          svg {
            path {
              stroke: $SECONDARY;
              fill: transparent;
            }
          }
        }
      }
    }
  }
}
