@use "global.scss" as *;

.inputLabel {
  font-weight: 500;
  @include RP(
    (
      "font-size": 14,
    )
  );
  color: $DARK;
}

.asterik {
  color: $BLUE;
}

.inputContainer {
  height: fit-content !important;
  // border-radius: 50px;
  @include RP(
    (
      "padding-left": 20,
      "padding-right": 10,
      "padding-top": 15,
      "padding-bottom": 15,
      "border-radius": 24,
    )
  );
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid $BORDER;
  background-color: $WHITE;
}

.inputStyle {
  width: 100%;
  height: 100%;
  border: 0px;
  outline: 0;
  @include RP(
    (
      "font-size": 16,
    )
  );
  background: transparent;
  resize: none;
  &::-webkit-scrollbar-track {
    border: 7px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: #f2f2f2;
  }

  &::-webkit-scrollbar {
    width: 20px;
  }

  &::-webkit-scrollbar-thumb {
    border: 7px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: $PRIMARY;
  }
}

.inputStyle::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 12px !important;
  color: $LIGHT_GRAY2 !important;
  opacity: 1;
  /* Firefox */
}

.inputStyle:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-size: 12px !important;
  color: $LIGHT_GRAY2 !important;
}

.iinputStyle::-ms-input-placeholder {
  /* Microsoft Edge */
  font-size: 12px !important;
  color: $LIGHT_GRAY2 !important;
}

.error {
  width: fit-content;
  color: #ea5b5b;
  font-size: 11px;
  text-align: left;
  z-index: 1;
  margin-left: 5px;
}

.lmtLabel {
  font-size: 10px;
  line-height: 12px;
  text-align: left;
  color: $GRAY;
}
