@use "global.scss" as *;

.modalDropContainer {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-position: center;
  position: fixed;
  z-index: 999 !important;
  transition: opacity 0.15s linear;
  overflow-x: hidden;
  overflow-y: auto;
  top: 0;
  left: 0;
  display: flex;
  padding: 80px 0;
}
