@import "utils/responsive.module.scss";




.modalContentContainer {
  @include RP(("border-radius": 24,
    ));

  .content {
    img {
      transform: scaleX(-1);
      display: inline-block;
    }

    h2 {
      color: $PRIMARY;
    }

    svg {
      @include RP(("width": 28,
          "height": 28,
        ));
    }
  }
}