@use "global.scss" as *;

.eventDetailContainer {
  @include RP(
    (
      "margin-left": 200,
      "margin-right": 200,
      "padding-bottom": 24,
      "padding-left": 24,
      "padding-right": 24,
      "border-radius": 24,
    )
  );
  @media screen and (max-width: 1200px) {
    @include RP(
      (
        "margin-left": 100,
        "margin-right": 100,
      )
    );
  }
  @media screen and (max-width: 768px) {
    @include RP(
      (
        "margin-left": 60,
        "margin-right": 60,
      )
    );
  }
  @media screen and (max-width: 425px) {
    margin-left: 0;
    margin-right: 0;
  }
  .portfolioContent {
    @include RP(
      (
        "padding-top": 24,
        "padding-bottom": 24,
        "padding-left": 24,
        "padding-right": 24,
        "border-radius": 24,
      )
    );
    img {
      @include RP(
        (
          "border-radius": 16,
        )
      );
    }
    background-color: $WHITE;

    .imgContainer {
      width: 100%;
      @include RP(
        (
          "height": 424,
          "border-radius": 16,
        )
      );
      img {
        height: 100%;
        @include RP(
          (
            "border-radius": 16,
          )
        );
      }
    }

    .iconContainer {
      @include RP(
        (
          "margin-top": 34,
          "margin-bottom": 12,
        )
      );
      svg {
        circle,
        path {
          stroke: $PRIMARY !important;
        }
        @include RP(
          (
            "width": 17,
          )
        );
      }
      p {
        color: $PRIMARY !important;
        font-weight: 500 !important;
        @include RP(
          (
            "font-size": 14,
          ),
          1
        );
      }
    }
    .heading {
      .title {
        color: #303030;
        font-weight: 600;
        margin-bottom: 7px;
        @include RP(
          (
            "font-size": 16,
          )
        );
      }
      .p {
        font-weight: 500;
        color: #5f5b5b;
        @include RP(
          (
            "font-size": 14,
          )
        );
      }
    }
  }
}
