@use "global.scss" as *;

.timeVenue {
  @include RP(
    (
      "padding-top": 25,
      "padding-bottom": 10,
    )
  );
  .iconContainer {
    svg {
      circle,
      path {
        stroke: $PRIMARY !important;
      }
      @include RP(
        (
          "width": 17,
        )
      );
    }
    p {
      color: $DESC;
      font-weight: 500;
      @include RP(
        (
          "font-size": 14,
        )
      );
    }
  }
}
