@use "global.scss" as *;

.backDropContainer {
  height: 100%;
  max-height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 400;
  padding: 0px !important;
  transition: visibility 0.2s;
  overflow: hidden;
}

.logoContainer {
  @include RP(
    (
      "height": 72,
    )
  );
  img {
    @include RP(
      (
        "width": 184,
        "height": 41,
      )
    );
  }

  .crossContainer {
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;

    svg {
      path {
        stroke: $DARK;
        fill: $DARK;
      }
      height: 20px;
      width: 20px;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.userInfoContainer {
  padding-left: 15px;
  width: 100%;
  height: 80px;
  .avtInitials {
    height: 48px;
    width: 48px;
    border-radius: 100%;
    background-color: $PRIMARY;
    display: flex;
    align-items: center;
    justify-content: center;
    label {
      font-size: 20px;
      line-height: 30px;
      font-weight: 600;
      text-align: center;
      color: $WHITE;
    }
  }
  p {
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
    text-align: left;
    color: $WHITE;
    @include elipsis(1);
  }
  span {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    text-align: left;
    color: $WHITE;
    @include elipsis(1);
  }
}

.mainContainer {
  background-color: $WHITE;
  max-width: 280px;
  height: 100%;
  min-height: 100vh !important;
  padding: 0px !important;
  overflow-y: auto;
  transition: transform 0.3s;
  position: absolute;
  left: 0;
  width: 100%;
  overflow-x: hidden;
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

.hidden {
  transform: translateX(-280px);
}

.shown {
  transform: translateX(0px);
}

.mainContainer::-webkit-scrollbar {
  display: none;
}

.crossIconContainer {
  height: 30px;
  width: 30px;
  border-radius: 8px;
  border: 1px solid var(--LIGHT_GRAY);
  display: flex;
  justify-content: center;
  align-items: center;
}

.darkNavIcon {
  .icon {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(44deg)
      brightness(104%) contrast(98%);
  }
}

.navItemContainer,
.activeNavItemContainer,
.activeSubNavItemContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 15px;
  text-align: left;
  position: relative;
  @include RP(
    (
      "height": 52,
    )
  );
  svg {
    @include RP(
      (
        "width": 22,
        "height": 22,
      )
    );
    path {
      stroke: $PRIMARY;
    }
    circle {
      stroke: $PRIMARY;
    }
  }
  .logoutIcon {
    path {
      stroke: $RED;
    }
  }

  .heading {
    color: $PRIMARY;
    font-style: normal;
    font-weight: 500;
    margin-left: 10px;
    @include elipsis(1);
    transition: width 0.4s ease;
    -webkit-transition: width 0.4s;
    -moz-transition: width 0.4s;
    @include RP(
      (
        "font-size": 14,
      )
    );
  }

  .logout {
    color: $RED;
  }

  &:hover {
    background-color: #ebf9ff;
    .heading {
      color: $BLUE;
    }
    cursor: pointer;
    &::before {
      position: absolute;
      content: "";
      width: 3px;
      background-color: $BLUE;
      left: 0;
      border-top-right-radius: 100px;
      border-bottom-right-radius: 100px;
      @include RP(
        (
          "height": 35,
        )
      );
    }
    .logout {
      color: $RED;
    }
    svg {
      path {
        stroke: $BLUE;
      }
      circle {
        stroke: $BLUE;
      }
    }
    .logoutIcon {
      path {
        stroke: $RED;
      }
    }
  }
}

.navTitle {
  padding-left: 15px;
  width: 100%;
  color: #b2aeae;
  font-style: normal;
  font-weight: 500;
  text-align: left;
  font-size: 14px;
  @include elipsis(1);
  transition: width 0.4s ease;
  -webkit-transition: width 0.4s;
  -moz-transition: width 0.4s;
  text-transform: uppercase;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(50%);
    right: 3%;
    width: 72%;
    height: 1px;
    background-color: $BORDER;
  }
}

.settingsContainer {
  align-items: flex-start;
  .themeTitle {
    font-size: 16px;
    line-height: 16px;
    text-align: left;
    color: var(--TITLE);
    text-transform: capitalize;
  }
}

.activeNavItemContainer {
  background-color: #ebf9ff;

  &::before {
    position: absolute;
    content: "";
    width: 3px;
    @include RP(
      (
        "height": 35,
      )
    );
    background-color: $BLUE;
    left: 0;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
  }

  .heading {
    font-weight: 600;
    color: $BLUE;
  }

  .icon {
    filter: invert(72%) sepia(89%) saturate(955%) hue-rotate(329deg)
      brightness(102%) contrast(96%) !important;
  }
}

.activeSubNavItemContainer {
  .heading {
    font-weight: 600;
    color: $BLUE;
  }
}
