@use "global.scss" as *;

.settingsWrapper {
  background-color: $LIGHT_BLUE;
  min-height: 100vh;
  height: 100%;
  @include RP(
    (
      "padding-top": 60,
      "padding-bottom": 60,
    )
  );
  .sectionContainer {
    background-color: $WHITE;
    h4,
    h6 {
      color: $DARK;
      font-weight: 700;
    }

    label {
      font-weight: 500;
      color: $DARK;
      @include RP(
        (
          "font-size": 14,
        )
      );
    }
    .profileForm {
      .buttonContainer {
        @media screen and (max-width: 509px) {
          width: 100%;
        }
        width: fit-content;
      }
    }
    @include RP(
      (
        "margin-left": 200,
        "margin-right": 200,
        "padding-top": 32,
        "padding-bottom": 32,
        "padding-left": 32,
        "padding-right": 32,
        "border-radius": 24,
      )
    );
    @media screen and (max-width: 1200px) {
      @include RP(
        (
          "margin-left": 100,
          "margin-right": 100,
        )
      );
    }
    @media screen and (max-width: 768px) {
      @include RP(
        (
          "margin-left": 60,
          "margin-right": 60,
        )
      );
    }
    @media screen and (max-width: 425px) {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
