$PRIMARY: #18417e;
$SECONDARY: #65b55e;
$DARK: #303030;
$BLUE: #0092d6;
$LIGHT_BLUE: #f2f7fb;
$RED: #ed1c24;
$WHITE: #ffffff;
$GRAY: #d0d0d1;
$LIGHT_GRAY: #f8f8f8;
$DESC: #5b5b5f;
$GRAY2: #f5f5f6;
$FLAMINGO: #ef4335;
$LABEL: #8a8686;
$BORDER: #e7e6e6;
$LIGHT_GRAY2: #86878a;
$GRAYWHITE: #fffaf4;
$LINEN: #fef1e0;
$CHEESE: #ffe4c0;
$DARK2: #1a1a1a;
$DARK: #303030;
$BLACK: #000;
$GRAY_TRANSPARENT: #e5e4e285;
$NEUTRAL_GRAY: #b2aeae;
