@use "global.scss" as *;

.breadCrumbActive,
.breadCrumbDefault {
  @include RP(
    (
      "font-size": 16,
      "line-height": 26,
    )
  );
  color: $DARK;
  font-weight: 700;
}

.breadCrumbDefault {
  color: $PRIMARY;
  margin-right: 10px;
  @include RP(
    (
      "margin-right": 10,
    )
  );
}
